extends ../layout
block content
  if(msg)
    .row.mx-auto
      .col-5.mx-auto.mt-4.text-center
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
          strong #{msg} 
          button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close') X
  .row.mx-auto
    .col-5.mx-auto.my-4
      .card
        .card-body.p-4
          form(action="/cuenta/pass" method="post")
            .form-group
              label(for="password") Contrase単a actual
              input.form-control#pass(type="password" name="pass" placeholder="Contrase単a actual", required)
            .form-group
              label(for="password") Contrase単a nueva
              input.form-control#pass(type="newpass" name="newpass" placeholder="Contrase単a nueva", required)
            .form-group.text-center
              input.btn.btn-primary(type="submit" value="Actualizar")