extends ../layout
block content
  .row
    .col.text-center
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">DATOS ACTUALIZADOS</h4>
        <p>Por favor, inicie sesión nuevamente.</p>
        <hr>
        <p class="mb-0"><a href="/login" class="btn btn-primary">INGRESAR</a></p>
      </div>