if(user)
  if (user.type=="cliente")
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/cliente') Mis solicitudes
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/cliente/solicitud') Nueva solicitud
  else if (user.admin)
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/admin/areas') Areas
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/admin/empleados') Empleados
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/admin/clientes') Clientes