if (type=="admin")
  ul.nav.justify-content-center.m-3
    li.nav-item
      a.nav-link.btn.btn-info(href='/admin/areas') Areas
    li.nav-item
      a.nav-link.btn.btn-info(href='/admin/empleados') Empleados
    li.nav-item
      a.nav-link.btn.btn-info(href='/admin/clientes') Clientes
if (type=="cliente")
  ul.nav.justify-content-center.m-2
    li.nav-item
      a.nav-link.btn.btn-info(href='/cliente/solicitud') Nueva solicitud
