if (type=="admin")
  ul.nav.justify-content-center
    li.nav-item
      a.nav-link(href='#') Areas
    li.nav-item
      a.nav-link(href='#') Empleados
if (type=="cliente")
  .container-flex.p-1.bg-light
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link btn btn-sm btn-primary" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>