nav.navbar.navbar-light.bg-light.py-2
	a.navbar-brand(href='/')
		img.d-inline-block.align-top(src='/logo.png' height='40' alt='HELPDESK')
	|	
	if (!user) 
		div
			a.btn.btn-sm.btn-outline-primary.my-2.mx-2.mr-auto(href='/login/signup') Registrarse
			a.btn.btn-sm.btn-primary.my-2.mx-2.mr-auto(href='/login') Ingresar
	else
		div.dropdown
			//span.text-dark.ts-1 Hola, #{user.email}
			a.btn.btn-sm.btn-success.dropdown-toggle(data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Hola, #{user.email}
			.dropdown-menu.mr-auto
				a.dropdown-item(href="/cuenta") Cuenta
				a.dropdown-item(href='/cuenta/pass') Cambiar contraseña
				.dropdown-divider
				a.dropdown-item(href='/close') Salir
			//a.btn.btn-sm.btn-primary.my-2.mx-2.mr-auto(href='/close') Salir