extends layout

block content
  .container
    .row.mx-auto
      .col-5.mx-auto.my-4
        .card
          .card-body.p-4
            form(action="/tracking", method="post")
              .form-group
                label(for="uuid") Código de rastreo
                input.form-control#uuid(type="text", name="uuid", placeholder="Ingrese código de solicitud")
              .form-group.text-center
                input.btn.btn-primary.text-center(type="submit", value="Consultar")