extends ../layout
block content
  .bg-dark
    .row.mx-auto
      .col-5.mx-auto.my-4
        .card
          .card-body.p-4
            form(action="/login/signup" method="post")
              .form-group
                label(for="nombre") Nombre
                input.form-control#nombre(type="text" name="nombre" placeholder="Nombre", required)
              .form-group
                label(for="DNI") DNI
                input.form-control#dni(type="text" name="dni" placeholder="DNI", required)
              .form-group
                label(for="Teléfono") Teléfono
                input.form-control#telefono(type="text" name="telefono" placeholder="Teléfono" required)
              .form-group
                label(for="email") Email
                input.form-control#email(type="text" name="email" placeholder="Email", required)
              .form-group
                label(for="password") Contraseña
                input.form-control#pass(type="password" name="pass" placeholder="Contraseña", required)
              .form-group.text-center
                input.btn.btn-primary(type="submit" value="Registrarse")
