<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        |  HELPDESK
    </a>
    
    <div>
        <a class="btn btn-sm btn-outline-primary my-2 mx-2 mr-auto" href="/login/signup">Registrarse</a>
        <a class="btn btn-sm btn-primary my-2 mx-2 mr-auto" href="/login">Ingresar</a>
    </div>
</nav>