extends ../layout
block content
  .bg-dark
    .row.mx-auto
      .col-5.mx-auto.my-4
        .card
          .card-body.p-4
            form(action="/solicitudes/crear" method="post")
              .form-group
                label.form-label(for='tipo') Tipo de Reclamo
                select.form-control(name='tipo', id='tipo' required)
                    option(default selected disabled required) - seleccione un tipo -
                    each val in ['compra' , 'reclamo' , 'incidente', 'servicio tecnico']
                      option(value=val) #{val}
              .form-group
                label.form-label(for="descripcion") Descripción
                textarea.form-control#descripcion(name="descripcion" placeholder="Descripción..." rows="10" required)
              .form-group.text-center
                input.btn.btn-primary(type="submit" value="Cargar Reclamo")